<%= form_with(model: quest, local: true) do |form| %>
  <% if quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
      <% quest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :strated_at %>
    <%= form.datetime_select :strated_at %>
  </div>

  <div class="field">
    <%= form.label :finished_at %>
    <%= form.datetime_select :finished_at %>
  </div>

   <%= form.fields_for @quest.contents do |content| %>
   <div class="js-file-group">
     <div class="tag-area__title">
      youtube_url
     </div>
    <div id="form_area">
      <%= form.text_field :youtube_url %>
      <% if @quest.persisted? %>
        <%# <%= youtube_url.check_box :_destroy, data:{ index: youtube_url.index }, class: "hidden-destroy" %> %>
      <% end %>
    </div>
    <input type="button" value="追加" onclick="addForm()">
   </div>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
var i = 1 ;

function addForm() {
  // var divElement = document.createElement("div");
  // divElement.innerHTML = '<input type="text" maxlength="80">';

  var input_data = document.createElement('input');
  input_data.type = 'text';
  input_data.id = 'inputform_' + i;
  var parent = document.getElementById('form_area');
  parent.appendChild(input_data);

  var button_data = document.createElement('button');
  button_data.id = i;
  button_data.onclick = function(){deleteBtn(this);}
  button_data.innerHTML = '削除';
  var input_area = document.getElementById(input_data.id);
  parent.appendChild(button_data);

  i++ ;
}

function deleteBtn(target) {
  var target_id = target.id;
  var parent = document.getElementById('form_area');
  var ipt_id = document.getElementById('inputform_' + target_id);
  var tgt_id = document.getElementById(target_id);
  parent.removeChild(ipt_id);
  parent.removeChild(tgt_id);
}
</script>
