<%= nested_form_for(@quest) do |form| %>
  <% if quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
      <% quest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :strated_at %>
    <%= form.datetime_select :strated_at %>
  </div>

  <div class="field">
    <%= form.label :finished_at %>
    <%= form.datetime_select :finished_at %>
  </div>

  <div class="field">
  <%= form.fields_for :contents do |c| %>
    <%= c.label :youtube_url %>
    <%= c.text_field :youtube_url %>
  <% end %>
  </div>
  <%= form.link_to_add "リンク追加", :contents %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
