<p id="notice"><%= notice %></p>

<h1>クエスト一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>詳細</th>
      <th>開始日</th>
      <th>終了日</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @quests.each do |quest| %>
      <tr>
        <td><%= quest.title %></td>
        <td><%= quest.description %></td>
        <td><%= quest.strated_at %></td>
        <td><%= quest.finished_at %></td>
        <td><%= link_to 'Show', quest %></td>
        <% if current_user.owner?(quest.id) %>
          <td><%= link_to '編集', edit_quest_path(quest) %></td>
          <td><%= link_to '削除', quest, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'クエスト作成', new_quest_path %>
