<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quest.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>total_video_time:</strong>
  <%= @quest.total_video_time %>
</p>

<p>
  <strong>strated_at:</strong>
  <%= @quest.strated_at %>
</p>

  <strong>finished_at:</strong>
  <%= @quest.finished_at %>
</p>
<%# 参加するボタンをつける %>
<p>
  <% if @quest.user_questsed_by?(current_user) %>
    <%= render "user_quests", quest: @quest %>
  <% else %>
    <%= render "unuser_quests", quest: @quest %>
  <% end %>
</p>

サムネイル
  <% @quest.contents.each do |content| %>
    <tr>
      <td><%= content.youtube_url %></td>
        <img class="lazyloaded" src="https://img.youtube.com/vi/<%= content.youtube_url.gsub("https://www.youtube.com/watch?v=","") %>/hqdefault.jpg">
    </tr>
  <% end %>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
