<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quest.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>meeting_link:</strong>
  <%= @quest.meeting_link %>
</p>

<p>
  <strong>meeting_held_at:</strong>
  <%= @quest.meeting_held_at %>
</p>

<p>
  <strong>strated_at:</strong>
  <%= @quest.strated_at %>
</p>

<p>
  <strong>finished_at:</strong>
  <%= @quest.finished_at %>
</p>

<%# 参加するボタンをつける %>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
