<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quest.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>total_video_time:</strong>
  <%= @quest.total_video_time %>
</p>

<p>
  <strong>strated_at:</strong>
  <%= @quest.strated_at %>
</p>

<p>
  <strong>finished_at:</strong>
  <%= @quest.finished_at %>
</p>
<%# 参加するボタンをつける %>
<p>参加する</p>
<%#= button_to 'Join', @quest.id, :class => 'btn btn-primary' %>


サムネイル
  <% @quest.contents.each do |content| %>
    <tr>
      <td><%= content.youtube_url %></td>
        <img class="lazyloaded" src="https://img.youtube.com/vi/<%= content.youtube_url.gsub("https://www.youtube.com/watch?v=","") %>/hqdefault.jpg">
    </tr>
  <% end %>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>

<script>
    // API読み込み
    script = document.createElement( 'script' );
    script.src = "//www.youtube.com/iframe_api";
    firstScript = document.getElementsByTagName( 'script' )[ 0 ];
    firstScript.parentNode.insertBefore( script , firstScript );

    // 動画呼び出し
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('ytplayer', {
          height: '450',
          width: '800',
          events: {
              'onReady': onPlayerReady,
          },
          videoId: '<%#= @quest.contents.youtube_url.gsub("https://www.youtube.com/watch?v=","") %>'
      });
    }

    function onPlayerReady(event) {

        document.getElementById('duration').innerHTML = player.getDuration() + '秒';
    }

</script>
