<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @quest.title %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>開始日:</strong>
  <%= @quest.created_at.strftime("%Y-%m-%d %H:%M") %>
</p>

  <strong>終了日:</strong>
  <%= @quest.finished_at.strftime("%Y-%m-%d %H:%M") %>
</p>
<%# 参加するボタンをつける %>
<p>
  <% if @quest.user_questsed_by?(current_user) %>
    <%= render "user_quests", quest: @quest %>
  <% else %>
    <%= render "unuser_quests", quest: @quest %>
  <% end %>
</p>

<% if @quest.user_questsed_by?(current_user) %>
<%# もしクエスト受注中ならばサムネイルがリンク化される。 %>
<p>クエスト動画一覧</p>
  <% @contents.each do |content| %>
    <tr>
      <%= link_to myquest_content_path(@quest, content), target: :_blank do %>
        <img class="lazyloaded" src="https://img.youtube.com/vi/<%= content.youtube_url.gsub("https://www.youtube.com/watch?v=","") %>/hqdefault.jpg">
      <% end %>
      <td><%= content.youtube_url %></td>
    </tr>
  <% end %>
<% else %>
  <% @contents.each do |content| %>
    <tr>
        <img class="lazyloaded" src="https://img.youtube.com/vi/<%= content.youtube_url.gsub("https://www.youtube.com/watch?v=","") %>/hqdefault.jpg">
        <td><%= content.youtube_url %></td>
    </tr>
  <% end %>
<% end %>
<div>
<% if current_user.owner?(@quest.id) %>
  <%= link_to '編集', edit_quest_path(@quest), class: "px-4 py-3 text-lg text-gray-900" %> |
<% end %>
<%= link_to '戻る', quests_path, class: "px-4 py-3 text-lg text-gray-900" %>
</div>
