<div>
  現在のキャラ状況:
  <img src="http://placehold.it/150x150">
  <p><%= @user.name %></p>
  <p><%= @user.introduction %></p>
  <%= link_to "edit profile",edit_user_path %>
  <p> Lv.<%= @character.level %>  <% @character.name %></p>
  <p>総獲得ねこ缶: <%= @user.total_nekokan %></p>
</div>

<div>
<h1>現在のクエスト</h1>
  <% if @current_quest.empty? %>
    <p>現在受注中のクエストはありません</p>
  <% else%>
    <% @current_quest.each do |quest| %>
      <p><%= quest.title %></p>
      <% end %>
  <% end %>
</div>

<div>
<h1>過去のクエスト</h1>
  <% if @past_quest.empty? %>
    <p>完了済みのクエストはありません</p>
  <% else%>
    <% @past_quest.each do |quest| %>
      <p><%= quest.title %></p>
    <% end %>
  <% end %>
</div>

<div>
  <img src="http://placehold.it/450x150">
</div>
