aaaaaaa
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>meeting_link</th>
      <th>meeting_held_at</th>
      <th>strated_at</th>
      <th>finished_at</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @quests.each do |quest| %>
      <tr>
        <td><%= quest.title %></td>
        <td><%= quest.description %></td>
        <td><%= quest.meeting_link %></td>
        <td><%= quest.meeting_held_at %></td>
        <td><%= quest.strated_at %></td>
        <td><%= quest.finished_at %></td>
        <td><%= link_to 'Show', quest %></td>
        <td><%= link_to 'Edit', edit_quest_path(quest) %></td>
        <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
