<div id="ytplayer"></div>

<br />
<div>バッファ済みの動画の割合</div>
<div>※停止中のバッファは反映されない模様</div>
<div id="loaded" style="border:solid 1px #ccc;height: 20px; width: 400px; background-color:#eee;"></div>
<br />
<div>プレーヤーの状態</div>
<div id="status" style="border:solid 1px #ccc;height: 20px; width: 400px; background-color:#eee;"></div>
<br />
<div>再生開始からの経過時間</div>
<div id="time" style="border:solid 1px #ccc;height: 20px; width: 400px; background-color:#eee;"></div>
<div>動画の時間</div>
<div id="duration" style="border:solid 1px #ccc;height: 20px; width: 400px; background-color:#eee;"></div>


<%# メモ機能 %>
<p>メモ機能</p>
<%= form_with model:[@quest,@content,@memo], url: myquest_content_memos_path(@quest,@content) do |f| %>
    <div>
        <%= f.label :本文 %>
        <%= f.text_field :text, autofocus: true, id: "text" %>
        <%= f.hidden_field :time, :value => 'time' %>
    </div>
    <div><%= f.submit "投稿する" %></div>
<% end %>

<p>メモ一覧</p>
<div class="memo__table">
    <%= render 'memos', content: @content %>
</div>

<script>
    // API読み込み
    script = document.createElement( 'script' );
    script.src = "//www.youtube.com/iframe_api";
    firstScript = document.getElementsByTagName( 'script' )[ 0 ];
    firstScript.parentNode.insertBefore( script , firstScript );

    var done = false;

    // 動画呼び出し
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('ytplayer', {
          height: '450',
          width: '800',
          events: {
              'onReady': onPlayerReady,
          },
          videoId: '<%= @content.youtube_url.gsub("https://www.youtube.com/watch?v=","") %>'
      });
    }

    var fn = function getPlayStatus() {
        var loaded = player.getVideoLoadedFraction();
        document.getElementById('loaded').innerHTML = (Math.floor(loaded*100)) + '%';
        var status = player.getPlayerState();
        var names = {
            '-1' : '未開始',
            '0' : '終了',
            '1' : '再生中',
            '2' : '停止',
            '3' : 'バッファリング中',
            '5' : '頭出し済み'
        };
        document.getElementById('status').innerHTML = names[status];
        var time = player.getCurrentTime();
        document.getElementById('time').innerHTML = time + '秒';
        document.getElementById('time').value = player.getCurrentTime();


        if (done == false) {
            if (player.getCurrentTime() >= player.getDuration() - 60) {
                console.log("視聴終了");
                $.ajax(
                    {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                    },
                    url: '<%= myquest_content_user_contents_path(@quest,@content)%>',
                    type: 'POST',
                    data: {
                        user_contents: { video_time: document.getElementById('time').value }
                        //動画の時間をわたす。
                    }
                });
                done = true;
            }
        }
    }

    function onPlayerReady(event) {
        document.getElementById('duration').value = player.getDuration();
        document.getElementById('duration').innerHTML = player.getDuration() + '秒';
    }

    setInterval(fn, 1000);

</script>
