<section class="hoge">
    <div class="player">
      <div id="ytplayer"></div>
    </div><div class="memo">
      <%# メモ機能 %>
      <p>メモ一覧</p>
      <div class="memo__table">
        <%= render 'memos', content: @content %>
      </div>
    </div>
</section>

<%= form_with model:[@quest,@content,@memo], url: myquest_content_memos_path(@quest,@content) do |f| %>
    <div>
        <%= f.label :メモを残そう！ %>
        <%= f.text_area :text, autofocus: true, id: "text", :size=>"80x5", :class => 'bg-white rounded-md border leading-normal resize-none w-full h-20 py-2 px-3 shadow-inner border border-gray-400 font-medium placeholder-gray-700 focus:outline-none focus:bg-white' %>
        <%= f.hidden_field :time, value: 'time', id: :time %>
    </div>
    <div><%= f.submit "投稿する", :class=>"appearance-none bg-gray-200 text-gray-900 px-2 py-1 shadow-sm border border-gray-400 rounded-md mr-3" %></div>
<% end %>
<!--
<div>バッファ済みの動画の割合</div>
<div>※停止中のバッファは反映されない模様</div>
<div id="loaded" style="border:solid 1px #ccc;height: 20px; width: 400px; background-color:#eee;"></div>
<br />
<div>プレーヤーの状態</div>
<div id="status" style="border:solid 1px #ccc;height: 20px; width: 400px; background-color:#eee;"></div>
<br />
<div>再生開始からの経過時間</div>
<div id="time1" style="border:solid 1px #ccc;height: 20px; width: 400px; background-color:#eee;"></div>
<div>動画の時間</div>
<div id="duration" style="border:solid 1px #ccc;height: 20px; width: 400px; background-color:#eee;"></div>
-->

<script>
    // API読み込み
    script = document.createElement( 'script' );
    script.src = "//www.youtube.com/iframe_api";
    firstScript = document.getElementsByTagName( 'script' )[ 0 ];
    firstScript.parentNode.insertBefore( script , firstScript );

    var done = false;

    // 動画呼び出し
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('ytplayer', {
          height: '450',
          width: '800',
          events: {
              'onReady': onPlayerReady,
          },
          videoId: '<%= @content.youtube_url.gsub("https://www.youtube.com/watch?v=","") %>'
      });
    }


    var fn = function getPlayStatus() {
        var loaded = player.getVideoLoadedFraction();
        // document.getElementById('loaded').innerHTML = (Math.floor(loaded*100)) + '%';
        var status = player.getPlayerState();
        var names = {
            '-1' : '未開始',
            '0' : '終了',
            '1' : '再生中',
            '2' : '停止',
            '3' : 'バッファリング中',
            '5' : '頭出し済み'
        };
        // document.getElementById('status').innerHTML = names[status];
        var time = player.getCurrentTime();
        // document.getElementById('time1').innerHTML = time + '秒';
        document.getElementById('time').value = player.getCurrentTime();


        if (done == false) {
            if (player.getCurrentTime() >= player.getDuration() - 60) {
                console.log("視聴終了");
                $.ajax(
                    {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                    },
                    url: '<%= myquest_content_user_contents_path(@quest,@content)%>',
                    type: 'POST',
                    data: {
                        user_contents: { video_time: document.getElementById('time').value }
                        //動画の時間をわたす。
                    }
                });
                done = true;
            }
        }
    }

    function onPlayerReady(event) {
        document.getElementById('duration').value = player.getDuration();
        // document.getElementById('duration').innerHTML = player.getDuration() + '秒';
    }

    setInterval(fn, 1000);
    $(function () {
       $(document).on("click", ".js-edit-comment-button", function () {
        const commentId = $(this).data('comment-id');
        const commentLabelArea = $('#js-comment-label-' + commentId);
        const commentTextArea = $('#js-textarea-comment-' + commentId);
        const commentButton = $('#js-comment-button-' + commentId);

        commentLabelArea.hide();
        commentTextArea.show();
        commentButton.show();
        });
    });

    <% @content.memos.each do |memo| %>
    var jamp = document.getElementById('<%= memo.id %>');
    jamp.addEventListener('click', function() {
        player.loadVideoById({'videoId': '<%= @content.youtube_url.gsub("https://www.youtube.com/watch?v=","") %>','startSeconds': <%= memo.time %>});
    }, false);
    <% end %>

</script>
